@model HMS_Team1_PRN211_SE1608.Models.Room

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoomId" />
            <div class="form-group">
                <label asp-for="RoomName" class="control-label"></label>
                <input asp-for="RoomName" class="form-control" />
                <span asp-validation-for="RoomName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <select asp-for="SizeId" class="form-control" asp-items="ViewBag.SizeId"></select>
                <span asp-validation-for="SizeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomDescription" class="control-label"></label>
                <textarea style="height:200px" asp-for="RoomDescription" class="form-control" ></textarea>
                <span asp-validation-for="RoomDescription" class="text-danger"></span>
            </div>
             <div>
                  <img style="height: 300px;
                object-fit:cover;" src=~/MyFiles/@Model.RoomImage />
            </div >
              <div class="form-group">
                <div class="col-md-10">
                    <p>Upload room image</p>
                    <input type="file" name="image" />
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
           
        </form>
    </div>
</div>

<div>
    <a asp-action="RoomList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
